a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --nav-height: 50px;

  @screen sm {
    --nav-height: 60px;
  }

  @screen lg {
    --nav-height: 72px;
  }
}

.container-bordered {
  @apply sm:mx-[24px] lg:mx-[80px] sm:border-x border-black;
}

.edge-to-edge {
  @apply sm:-mx-[24px] lg:-mx-[80px] w-screen;
}

body {
  overflow-anchor: none;

  @apply text-black;
}

.clip-path {
  clip-path: inset(calc(100% - 50px) 0px 0px 0px);
  transition: all 0.1s;

  &.active {
    clip-path: inset(0px 0px 0px 0px);
  }
}

section#reviews {
  @apply z-10;
}

.review-clip {
  
}