:root {
  --section-spacing: 2rem;
  
  @screen lg {
    --section-spacing: 4.5rem;
  }
}

/* Default section spacer */
.section {
  &.section--spacing-sm {
    --section-spacing: 2rem;
  }

  &.section--spacing-lg {
    --section-spacing: 11.25rem;
  }

  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
}

.main-wrapper > section.has-bg:last-of-type {
  @apply mb-0;
}

h2:not([class]) + p {
  @apply mt-6;
}

p + h2:not([class]),
ul + h2:not([class]) {
  @apply mt-10;
}

h3:not([class]) + p {
  @apply mt-6;
}

p + p {
  @apply mt-4;
}
