:root {
  --section-spacing: 4.5rem;
  
  @screen lg {
    --section-spacing: 4.5rem;
  }
}

/* Small section spacer */
.section.section--spacing-sm {
  --section-spacing: 2rem;
}

.section.section--spacing-md {
  --section-spacing: 6.8rem;
}

.section.section--spacing-lg {
  --section-spacing: 11.25rem;
}

/* Medium section spacer */
.section {
  margin-top: var(--section-spacing);
  margin-bottom: var(--section-spacing);

  &.has-bg {
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
  }
}
