.h1 {
  @apply
    uppercase
    font-header
    font-bold
    leading-none
    text-7xl 
    md:text-9xl
    xl:text-12xl;
}

.h2 {
  @apply
    font-header
    leading-normal
    text-8xl;
}

.h3 {
  @apply 
    uppercase
    font-header
    font-bold
    leading-tight
    tracking-snug
    text-xl;
}

.h4 {
  @apply
    font-header
    text-base
    md:text-4xl
    leading-tight;
}

/* Body defined as H6 in typography guide */
p,
.p,
ul,
.ul {
  @apply 
    text-base
    leading-relaxed;
}
