/* .text-display {
  @apply
    font-sans
    leading-none
    uppercase
    font-black
    text-10xl 
    lg:text-12xl
    xl:text-13xl
    2xl:text-14xl;
} */

.h1:not(.text-display) {
  @apply
    font-header
    font-bold
    leading-[0.82]
    uppercase
    text-10xl
    md:text-12xl
    lg:text-14xl;
}

.text-outlined {
  text-shadow: 
    -1px -1px 0 #1A1A1C,
    1px -1px 0 #1A1A1C,
    -1px 1px 0 #1A1A1C,
    1px 1px 0 #1A1A1C;
}

.text-outlined-light {
  @apply text-background;

  text-shadow: 
    -1px -1px 0 #1A1A1C,
    1px -1px 0 #1A1A1C,
    -1px 1px 0 #1A1A1C,
    1px 1px 0 #1A1A1C;
}

.text-outlined-dark {
  @apply text-black;

  text-shadow: 
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;

  /* text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF; */
}

.h2,
h2:not([class]) {
  @apply
    font-header
    /* leading-none */
    leading-[0.9]
    uppercase
    font-black
    text-8xl
    lg:text-11xl;
}

.h3,
h3:not([class]) {
  @apply
    font-header
    leading-none
    uppercase
    font-semibold
    text-4xl
    lg:text-7xl;
}

.h4,
h4:not([class]) {
  @apply
    font-header
    uppercase
    leading-tight
    text-tiny
    lg:text-sm;
}

.h5,
h5:not([class]) {
  @apply
    font-header
    uppercase
    leading-tight
    text-lg;
}

p,
.p
ul,
.ul {
  @apply 
    text-xs
    md:text-sm
    lg:text-base
    font-light;
}

blockquote p {
  @apply text-3xl italic;
}

ol {
  counter-reset: list;

  li > *:first-child  {
    &::before {
      counter-increment: list;
      content: counter(list) ".";

      @apply mr-2;
    }
  }
}
